@model IEnumerable<DemoMVC.Models.Movie>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1> <center>MovieListing</center>
    </h1>
    <hr />
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m=>m.Id)</th>
                <th>@Html.DisplayNameFor(m=>m.Name)</th>
                <th>@Html.DisplayNameFor(m=>m.Year)</th>
                <th>@Html.DisplayNameFor(m=>m.Rating)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var data in Model)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.Year</td>
                    <td>@data.Rating</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
